@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin:0;
    padding:0;
    font-family: "Poppins"
} 

.hero{
    position: relative;
    width: 100%;
    height:100vh;
    background: #eff4fd;
    padding-top: 40px;

}
.hero:hover{
    background: #eff4fd;
}
nav{
    font-size: 20px;
    display:flex ;
    width: 84%;
    margin: auto;
    padding: 60 px 15px;
    align-items: center;
    justify-content: space-between; 
    color: #1959d9;
    font-weight: bolder;

}
nav:hover{
   background- color: #1959d9;
}
nav ul li{
    background-color: #1959d9;
    color: #eff4fd;
    border: none;
    height: 36px;
    width: 84px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    align-items: center;


}
nav ul li:hover {
    background-color: #0f3b99;
}

nav ul li a{
    text-decoration: none;
    color: #f7f9fd;
    align-items: center;
    padding: 10px  ;
    font-size: 1em;

    


}
nav ul li a:hover{
    color: #f7f9fd;

}


.profile{
    margin-left: 8%;
    margin-top: 15%;
}
.profile h2{
    font-size: 20px;
    color:#1959d9;
    margin-bottom: 30px;
    text-shadow: blueviolet;
    font-weight: bolder;
}
.profile p{
    font-size:30px;
    color:black;
    font-weight: bolder;

    

}
.profile p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    color-interpolation-filters: black;
    padding-top: 10px;
}

.social-icons{
    display:flex;
    gap: 20px;
}
.social-icons img{
    width: 40px;
    height:40px;
    padding: 10px 18px;
    margin: 30px 0;
    border-radius: 5px;
}
.social-icons img:hover {
    transform: scale(1.1);
    
}

.photo{
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    border-radius: 50%;
    background-size: cover;


}
.photo img{
    width: 300px;

    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    bottom: 260px;
    transform:translateX(-50);



}
.photo img:hover {
    transform:  scale(1.1);
    color: rgb(17, 16, 16);
}
